
.container{
  background-color: #e9ebee;
  margin-top: 100px;
}

  .logoc{
    height: 30px;
  }
  .page1{
    text-align: center;

  }
  .tit{
    margin-top: 150px;
  }
  .navigator ul{
    background-color: #9b9bca;
    width: 100%;
    height: auto;
    list-style: none;
    display: none    ;
    /* justify-content: space-between; */
    
    align-items: center;
    margin-top: 7%;
 
  }

  .navigator li{
    height: 50px;
    justify-content: space-around;
    text-align: center;
    
  }
  .navigator a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    margin-left: 80%;
    font-size: 20px;
    color: #0a77f5;
  }

 
  .close{
    width: 30px;
    top: 20px;
    right: 32px;
    position: fixed;
    display: none;
  }
  
  .pag1{
    margin: auto;
  }
  #tit{
    margin-top: 400px;
  }

  
  .let {
  text-align: center;
  color: #00f;
  }
  
  .icon-bar {
  text-align: center;
  color: #2c1fe2;
  }
  
  .icon-bar a {
  display: inline-block;
  margin-right: 10px;
  color: blue; 
  font-size: 20px;
  }
  .icon-bar a:hover {
  color: rgb(132, 172, 24); 
  }
.container{
  display: grid;
}
  .item {
    display: grid;
    padding: 30px;
    border-radius: 8px;
  justify-content: center;
  background-color: white;
  margin-top: 80px;
  }
  
  .title{
    font-size: 25px;
  }
  .p{
    display: flex;
    font-size: 20px;
    font-weight: 500;
  }
  #comp ul {
  display: flex;
 gap: 20px;
  } 
  .web {
    display: flex;
    gap: 20px;
  }
  
  .web .bet {
    font-weight: bold;
   font-family: tahoma;
    background-color: #c8d5e7ad;
    padding: 10px 20px;
    border-radius: 14px;
    text-decoration: none;
    color: #0a77f5;
  }
  .web a{
  
    border-radius: 4px;
    border: 1px solid;

  }
  
  .see { 
    font-size: 20px;
    color: #0a77f5;
    text-decoration: none;
    border: 2px solid;
    font-weight: 100px;
    padding: 10px;
    width: 100px;
   border-radius: 8px;
background-color: hsl(210, 44%, 96%);
padding: 10px;
  }

  .para2 {
  display: flex;
  margin-left: 10px;
  }
  
  .lets {
  position: relative;
  text-decoration: none;
  margin-left: 10px;
  margin-top: -20px;
  }
  
  .setbtn {
  display: flex;
  margin-left: 10px;
  }
  
  .last {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  }
  
  .last h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  margin-left: 7%;
  }
  
  .js {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 5%;
  border-radius: 8px;
  background: #d5d5dd;
  }
  
  .html {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  width: 80%;
  border-radius: 8px;
  background: #d9dddb;
  }
  
  .css {
  background-color: antiquewhite;
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  width: 80%;
  border-radius: 8px;
  }
  .language{
    display: flex;
  }
  .lang5 {
  list-style-type: none;
  }
  
  .last2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  }
  
  .last3 {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  }
  
  .last2 h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  margin-left: 7%;
  }
  
  .last3 h4 {
  line-height: 120%;
  color: #000;
  margin-left: 7%;
  }
  
  /* Contact Form Styles */
  .contact{
    background-color: #0a3ad8;
  border: 1px solid #cfd8dc;
  border-radius: 20% 1px 1px 1px;
  justify-content: center;
  padding: 20px;
  border: 2px solid #2c1fe2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: white
  }
  .input_txt {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 80%;
  height: 48px;
  background: #fff;
  margin: 2% 5%;
  }
  .input_idea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 80%;
  height: 170px;
  background: #fff;
  margin: 2% 5%;
  }
  .btn_getintech {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #6070ff;
  margin: 2% 5%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  cursor: pointer;
  }
  
@media screen and (min-width: 375px){
  .ime{
    display: none;
  }

.item{
  display: grid;
  padding: 50px;
}
.image1{
  display: block;
}
.image{
  margin: auto;
}
.section1 {
  background-image: url('image/mob1.png');
  background-size: cover;
  background-position: center; 
  }
  .dropdown-item{
    display: none;
  }
  .menu{
    top: 20px;
    right: 30px;
   /* margin-left: 85%; */
   /* margin-top: 0%; */
   position: fixed;
  }
  .sidebar{
    flex-direction: column;
  }
 
}

@media screen and (min-width: 768px) {
  .menu{
    display: none;
  }
  .item{
    display: flex;
    position: relative;
  }
  .side{
    display: none;
  }
  .sidebar{
    display: block;
  }
  .container{
    background-color: #e9ebee;
    margin-top: 100px;
  }
#desk{
 margin-left: 10px;
  
}
.ime{
  display: block;
  margin-left: -150px;
}
.image1{
  display: none;
}

.section1 {
  background-image: url(' image/desk1A.jpg');
  background-size: cover;
  background-position: center; 
  }
  .page1{
    margin-left: -120px;

  }
  .navigator ul{

    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    right: 100px;
    top: -80px;
    position: fixed;
    background-color: white; 

  }
  .sidebar li{
  margin-left: 20px;
    width: 100%;
  }
  .sidebar li :hover{
    background-color: #fce516;
    width: 100%;
  }
  .about {
    margin-top: 100px;
    padding: 50px;
    display: flex;
  
    }
    .lang{
      margin-left: 100px;
    }

    .lan{
      display: flex;
      margin-left: 100px;
     
    }
    .item:nth-of-type(1) .ime {
      margin-left: -20px; 
    }


    .item:nth-of-type(2) .image {
      order: 2;
      margin-left: 40px; 
    }
    
    .item:nth-of-type(2) .desk {
      order: 1;
    }
    .item:nth-of-type(4) .image {
      order: 2;
      margin-left: 200px; 
    }
    
    .item:nth-of-type(4) .desk {
      order: 1;
      
    .dropdown{
      display: none;
    }
    .dropdown-item{
      display: block;
      color: #0a3ad8;
    }
    .item:nth-of-type(2) {
      order: 4;
    }
  
    .item:nth-of-type(4) {
      order: 2;
    }
  }
}
